# Python
__pycache__/
*.py[cod]

# Build directories
build/
*-build/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CPackConfig.cmake
CPackSourceConfig.cmake

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/
